{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
{% endblock %}


{% block body %}
    {% include '@app/UserEvents/baseUserEvents.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Редактирование задания</div>
            <div class="panel-body">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <ul class="list-inline">
                    <li>
                        <input type="submit" class="btn btn-success" value="Изменить"/>
                    </li>
                    {{ form_end(edit_form) }}
                    <li>
                        <a href="{{ path('task_work_index', {'id':id_event}) }}" class="btn btn-info">Отмена</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                       <input type="submit" class="btn btn-danger" value="Удалить">
                         {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ru.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: "yyyy-mm-dd",
                startDate: "today",
                endDate:    "+6m",
                maxViewMode: 1,
                startView:1,
                language: "ru",
                autoclose: true
            });
        });
    </script>
{% endblock %}