{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gmv_search.css') }} " type="text/css"/>
{% endblock %}

{% block body %}

    {% include '@app/UserEvents/baseUserEvents.html.twig' %}

    <div class="container">

    <h1> План выполнения работ по подготовке к мероприятию </h1>
    <h3> {{ event_name }}</h3>

        <div class="count">
        <span class="label label-primary">
            Всего задач: {{ tasks.getTotalItemCount }}
        </span>


    <div id="task">
        <ul class="list-inline">
            <input class="search" style="border:solid 1px #ccc; border-radius: 5px" placeholder="Поиск"/>
            <a href="{{ path('task_work_new', {'id_event':id_event }) }}" class="btn btn-success">Добавить задания</a>
            <a href="{{ path('user_panel_index') }}" class="btn btn-info">Отмена</a>
        </ul>

        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="sort" data-sort="name" >Описание</th>
                <th class="sort" data-sort="date" >Срок</th>
                <th class="sort" data-sort="isp">Отвественный</th>
                <th class="sort" data-sort="sost">Состояние</th>
                <th>Операции</th>
            </tr>
            </thead>
            <tbody  class="list">
            {% for workingGroupProtocol in tasks %}

                {% if date(workingGroupProtocol.datefinish) < date("now") %}
                    <tr class="warning">
                {% elseif  workingGroupProtocol.status.id == "4" or   workingGroupProtocol.status.id == "5" %}
                    <tr class="success">
                {% else %}
                    <tr class="info">
                {% endif %}

                    <td class="name">
                        {{ workingGroupProtocol.name }}
                    </td>
                    <td class="date">
                        {{ workingGroupProtocol.datefinish|date('Y-m-d') }}
                    </td>
                    <td class="isp">
                        {{ workingGroupProtocol.user }}
                    </td>
                    <td class="sost">
                        {{ workingGroupProtocol.status }}
                    </td>
                    <td>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Действия <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="{{ path('task_work_show', { 'id': workingGroupProtocol.id, 'id_event':id_event }) }}">Показать</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('task_work_edit', { 'id': workingGroupProtocol.id,  'id_event':id_event }) }}">Редактировать</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

        <div class="navigation text-center">
            <ul class="pager">
                {{ knp_pagination_render(tasks) }}
            </ul>
        </div>


    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
        var options = {
            valueNames: ['name', 'date', 'sost','isp']
        };
        var userList = new List('task', options)
    </script>
{% endblock %}